debug:
spring:
  application:
    name: testNetflixSidecar
server:
  port: 8001
sidecar:
  port: 8000
  health-uri: http://localhost:8000/src/main/resources/health.json

eureka:
  password: password
  client:
    serviceUrl:
      defaultZone: http://user:${eureka.password}@localhost:8761/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 10
    metadataMap:
      instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}